<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <bean id="alarmConfig" class="com.lingchaomin.falcon.alarm.constant.AlarmConfig">
        <property name="highQueue" value="${falcon.alarm.highQueue}"/>
        <property name="lowQueue" value="${falcon.alarm.alarm.lowQueue}"/>
    </bean>
</beans>