<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingchaomin.falcon.web.dao.ExpressionDao">

    <sql id="table">expression</sql>


    <sql id="fileds">
        id
        ,gmt_create
        ,gmt_modified
        ,expression
        ,func
        ,operator
        ,priority
        ,note
        ,right_value
        ,max_step
        ,action_id
    </sql>

    <resultMap id="expressionRm" type="expression">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="expression" column="expression"/>
        <result property="func" column="func"/>
        <result property="operator" column="operator"/>
        <result property="priority" column="priority"/>
        <result property="note" column="note"/>
        <result property="rightValue" column="right_value"/>
        <result property="maxStep" column="max_step"/>
        <result property="actionId" column="action_id"/>
        <result property="actionName" column="action_name"/>
    </resultMap>



    <select id="selectAll" resultMap="expressionRm">
        SELECT
        e.*,a.name as action_name
        FROM
        expression e
        LEFT JOIN
        action a
        ON
        e.action_id=a.id
    </select>

    <select id="selectById" parameterType="long" resultMap="expressionRm">
        SELECT
        <include refid="fileds"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </select>


    <insert id="insert" parameterType="expression" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
        <include refid="fileds"/>
        )
        VALUES
        (null,#{gmtCreate},#{gmtModified},#{expression},#{func},#{operator},#{priority},#{note},#{rightValue},#{maxStep},#{actionId})
    </insert>

    <update id="updateById" parameterType="expression" >
        UPDATE
        <include refid="table"/>
        <set>
            <if test="expression!=null">expression=#{expression},</if>
            <if test="func!=null">func=#{func},</if>
            <if test="operator!=null">operator=#{operator},</if>
            <if test="priority!=null">priority=#{priority},</if>
            <if test="note!=null">note=#{note},</if>
            <if test="rightValue!=null">right_value=#{rightValue},</if>
            <if test="maxStep!=null">max_step=#{maxStep},</if>
            <if test="actionId!=null">action_id=#{actionId}</if>
        </set>
        where id=#{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM
        <include refid="table"/>
        WHERE id = #{id}
    </delete>

</mapper>