<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:*.properties"/>

    <dubbo:application name="open-falcon4j-transfer"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.zookeeper.address}" client="zkclient"/>

    <dubbo:protocol name="rest" port="8081"  server="servlet"/>

    <dubbo:annotation package="com.lingchaomin"/>

    <!--接收监控信息-->
    <dubbo:service interface="com.lingchaomin.falcon.transfer.receiver.IMetricInfoReceiver"
                   ref="metricInfoReceiver"
                   protocol="rest"/>



    <dubbo:reference id="judgeItemService"
                     interface="com.lingchaomin.falcon.common.api.IJudgeItemDubboApi"
                     version="1.0.0"
                     check="false"/>


</beans>